.userImg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.userImg-container > p{
    justify-content: center;
    font-weight: bold;
    margin: 10px 0;
    font-size: larger;
}